<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/fonts.css">
    <style>
        body{
            margin: 0;
            padding: 30px 0;
        }       
    </style>
    
</head>

<body style="background-color: #80808024;">
  
    <table style="width: 600px; margin: auto;">     
        
        <tr>
                 <td style="text-align: center;">
            </td>
            <td>
                <h1 style="text-align: center; font-size: 30px;">AGG GAME</h1>
            </td>

        </tr>
                    <!-- <tr style="border-bottom: 1px solid #000;">
                        <td style="width: 90%;">
                            <h4 style="margin: 0px;">Hi,</h4>
                        </td>   
                    </tr>                   -->
                    <tr>
                        <td colspan="2">
                            <p style="font-size: 15px;"> We have Received a Request to reset your password .If you did not make this request, you may ignore this email.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left; width: 100%; ">
                            <p style="font-size: 15px;">Here is your OTP <span style="color: #999; font-weight:800"><%=otpCode%></span>  .
                            </p>                           
                        </td> 
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 style="margin:0px; margin-top: 10px; ">Thanks & Regards</h4>
                            <p style="margin:0px; ">Connplex smart theater</p>
                        </td>
                    </tr>                    
                </table>
            </td>
        </tr>       
    </table>
</body>
</html>