.app-terms-conditions .main-terms {
  background-color: #000;
  color: #fff;
}

.app-terms-conditions .main-terms .terms-header {
  display: none;
}

.terms-conditions .main-terms {
  color: #fff;
}

.main-terms .terms-header {
  padding: 26px 0;
  border-bottom: 1px solid #23211e;
  text-align: center;
}

.main-terms .terms-header .terms-header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #d3b15f;
}

.main-terms .terms-body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}

.main-terms .member-term-body div p {
  color: #ffffff;
}

.main-terms .terms-body .terms-item:not(:last-child) {
  margin-bottom: 30px;
}

.main-terms .terms-body h4 {
  color: #d3b15f;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 7px;
}

.main-terms .terms-body .terms-content {
  font-weight: 300;
}

.main-terms .terms-body ul {
  padding-left: 15px;
}

.main-terms .terms-body ul li{
  list-style: disc;
}